
.commonnav {
  height: 80px;
  width: 100%;
}
.content {
  height: calc(100vh - 80px) !important;
  overflow-y: scroll !important;
}

.mainco{
  color: white !important;
  font-size: 20px !important;
}
.mainco:hover{
  color:var(--glow-color) !important;
  text-shadow: 2px 2px 10px var(--glow-color),-2px -2px 10px var(--glow-color) !important;

}
.mnnav{
  background-color: rgb(5, 62, 161) !important;
  border-radius: 10px !important;

}